/*this is variables scss*/
$base-font-color: #7d7d7d;
$base-link-color: #356bb2;

/*---theme background color----*/
$theme-primary-color: #8fa6c8; // theme primary sky blue color
$body-bg-color: #f2f1f7; //body background color
$header-bg-color: #ffffff; //header background color
$logo-bg-color: #ffffff; // logo background color
$sidebar-bg-color: #333c4e; // sidebar background color
$btn-secondary-bg: #333b4e;
$btn-secondary-color: #fff;
