// Sizes
$font-size-small:	12;
$font-size-regular:	16;
$font-size-large:	24;
$font-size-x-large:	32;
$font-size-xx-large:	48;
$font-size-xxx-large:	64;
$font-size-xxxx-large:	96;

// Weights
$font-weight-light:	500;
$font-weight-regular:	400;
$font-weight-bold: 600;

// Families
$font-family-text: source-sans-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif;

 